body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('feed.jpg') no-repeat center center fixed;
    background-size: cover;
}

.header-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 20px 40px;
    margin: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    font-family: unna;
    font-size: 30px;
    margin: 0;
    margin-left: 10px;
    color: black;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
}

header nav ul li a:hover,
header nav ul li a.active {
    text-decoration: underline;
    color: #0F7A84;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

main {
    padding: 20px;
	text-align: center;
}

h2 {
    color: #333;
}

form {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    background: rgba(232, 232, 224, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, select, button {
    width: 90%;
    padding: 15px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: #072045;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#feedback-error-message, #feedback-success-message {
    margin-top: 10px;
    font-weight: bold;
}

#feedback-error-message {
    color: red;
}

#feedback-success-message {
    color: green;
}

@media (max-width: 600px) {
    form {
        padding: 10px;
    }
}
